<h1> <%=@shop.name%> </h1>
<% @puppies.each do |puppy| %>
  <ul>
  <li><%= puppy.name %></li>
  <li><%= puppy.breed %></li>
  <li><%= puppy.age %></li>
  <li><%= link_to "Add To Cart", user_cart_path(current_user) %></li>
  </ul>
<% end %>
 
